
.block_div2,.block_flip{
	width:500px;
	height:500px;
	background:#eeeeee;
}
.block_flip{
display:none;
}
.block_container{
	width:500px;
	padding:10px;
	min-height:510px;
	margin: 20px auto 20px auto;
	box-shadow:0 0 5px #3c3c3c;
}
.block_container div{
	float:left;
	padding:5px;
}
input[type=text],input[type=password],input[type=number],input[type=email]{
	height:30px;
	width:200px;
	margin:5px;
	border-radius:3px;
	border:1px solid #B2B2FF;
}
input[type=text]:hover,input[type=number]:hover,input[type=password]:hover,input[type=email]:hover{
	border:1px solid #4D4DFF;
}
input[type=text]:hover,input[type=number]:focus,input[type=password]:focus,input[type=email]:focus{
	border:1px solid #4D4DFF;
}
input[type=submit],input[type=button]{
	width:100px;
	height:30px;
	background:#B2B2FF;
	border:1px solid #333;
	cursor:pointer;
}
#forpas{
	cursor:pointer;
	color:#6c6c6c;
}
#forpas:hover{
	color:3c3c3c;
	text-decoration:underline;
}